
<!--1-->
<div id="top_wrap">

  <!--2-->
  <div id="top_first_wrap">

    <!--3-->
    <div id="top_first_right" class="font_14 text-align-right">
      <a class="margin-20" href="">我的藏寶</a>
      <a href="/sessions/login">登入</a>│<a href="/registrations/register">註冊</a>
      <a class="margin-20" href="">關於我們</a>
    </div>
  </div>

  <!--2-->
  <div id="top_second_wrap">

    <div id="top_second_left">
      <!--logo-->
      <img src="" alt="logo" height="135" width="270">
    </div>

    <div id="top_second_center">
      <!--search-->

    </div>

    <div id="top_second_right">
      <!--advertisement-->

    </div>
  </div>

  <!--2-->
  <div id="top_third_wrap">

    <div id="top_third_left">

    </div>

    <div id="top_third_right">

    </div>
  </div>


</div>

