<div style="text-align: center;">

  <nav class="user_nav navbar navbar-default" role="navigation">
    <div class="user_nav_div navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse"
              data-target="#user-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="user_nav_div collapse navbar-collapse" id="user-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">sub A</a></li>
        <li><a href="#">sub B</a></li>
        <li><a href="#">sub C</a></li>
        <li><a href="#">sub D</a></li>
        <li><a href="#">sub E</a></li>
      </ul>
    </div>
  </nav>

  <a href="#"><img src="" alt="禮品圖" class="img_gift"></a>

  <div class="div_table">
    <div class="div_tr">
      <div class="div_td">店名</div>
    </div>
    <div class="div_tr">
      <div class="div_td">電話</div>
    </div>
    <div class="div_tr">
      <div class="div_td">使用期限</div>
    </div>
    <div class="div_tr">
      <div class="div_td">兌獎須知</div>
    </div>
  </div>

  <a id="read_more" href="#" class="read_more">瞭解更多</a></br>

  <input type="button" value="我要兌換" class="btn_go_exchange btn btn-danger" style="margin-bottom: 10px"></br>


  <a id="serial_number" href="#" class="serial_number">TWTP-AA000001</a>
</div>




