<div style="text-align: center;">
  <div class="div_header">登入</div>
  <a href="#"><img src="" alt="LOGO" class="img_logo"></a></br>

  <form action="signin.php" method="post">
    <input type="text" name="account" placeholder="帳號" class="input_account"></br>
    <input type="password" name="password" placeholder="密碼" class="input_password"></br>

    <input type="submit" class="btn_signin btn btn-danger" value="登入"></br>
  </form>

  <a id="forget_password" href="#" class="forgot_password">忘記密碼?</a></br>

  <a href="/yoolyooly/signup" class="btn_signup btn btn-danger">我要註冊</a>
</div>



