<div style="text-align: center;">

  <nav class="user_nav navbar navbar-default" role="navigation">
    <div class="user_nav_div navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse"
              data-target="#user-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="div_header">註冊成功</div>
    </div>

    <div class="user_nav_div collapse navbar-collapse" id="user-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">sub A</a></li>
        <li><a href="#">sub B</a></li>
        <li><a href="#">sub C</a></li>
        <li><a href="#">sub D</a></li>
        <li><a href="#">sub E</a></li>
      </ul>
    </div>
  </nav>

  <div class="div_signup_complete_msg">
    <div>
    您已完成註冊</br>
    歡迎您使用Yoolyooly
    </div>
  </div>

  <div class="div_signup_remind_title">Yoolyooly小提醒</div>

  <div class="div_signup_remind">
    1.每日每店限刮一張券! </br>
    2.如果您刮完獎項後不想馬上兌換，直接離開網頁即可，獎項會自動匯入您的刮券管理庫中喔!
  </div>

  <input type="button" value="馬上刮獎" class="btn_go_scratch btn btn-danger">

</div>




