
<div id="left_sidebar" >

  <a id="ti1" name="ti" data-value="/home/index" style="font-size: 18px;letter-spacing: 1px">• 後台-類別</a>
  <div id="ti1_sub" class="sub_choice" class="now">
    <a id="sub_category_list" data-value="/home/index" style="font-size: 16px;letter-spacing: 1px">類別清單</a>
    <a id="sub_category_create" data-value="/home/create_category" style="font-size: 16px;letter-spacing: 1px">新增類別</a>
  </div>

  <a id="ti2" name="ti" data-value="/home/new_curio" style="font-size: 18px;letter-spacing: 1px">• 前台-類別</a>
  <div id="ti2_sub" class="sub_choice" style="height: 0;border-width: 0">
    <a id="sub_new_curio" data-value="/home/new_curio" style="font-size: 16px;letter-spacing: 1px">新增項目</a>
    <a id="sub_res_img"  data-value="/home/new_curio" style="font-size: 16px;letter-spacing: 1px">新增項目</a>
  </div>

</div>


<script>

    $("#ti1").click(function(){
        var t = $(this);
        $.get('/home/index.json').done(function(response){
            $("#ti1_sub a.now").removeClass('now');
            t.addClass('now')
            $("#sub_category_list").addClass('now');
            var state = {url:'/home/index'};
            window.history.pushState(state,'', '/home/index');
            $("#right_partial").html(response.partial);
            bind_event();
        }).fail(function(){ alert('oops! 出現錯誤了!') });
    });

    $("#sub_category_list").click(function(){
        var t = $(this);
        $.get('/home/index.json').done(function(response){
            //location.href = '/home/create_category';
            $("#ti1_sub a.now").removeClass('now');
            t.addClass('now')
            var state = {url:'/home/index'};
            window.history.pushState(state,'', '/home/index');
            $("#right_partial").html(response.partial);
            bind_event();
        }).fail(function(){ alert('oops! 出現錯誤了!') });
    });

    $("#sub_category_create").click(function(){
        var t = $(this);
        $.get('/home/create_category.json').done(function(response){
            $("#ti1_sub a.now").removeClass('now');
            t.addClass('now')
            var state = {url:'/home/create_category'};
            window.history.pushState(state,'', '/home/create_category');
            $("#right_partial").html(response.partial);
            //bind_event();
        }).fail(function(){ alert('oops! 出現錯誤了!') });
    })

    ////////////////////////////////////////////////////////////////////////////////////////////

    $("#ti2").click(function(){
        var t = $(this);
        $.get('/home/new_curio.json').done(function(response){
            $("#ti2_sub a.now").removeClass('now');
            t.addClass('now')
            $("#sub_new_curio").addClass('now');
            var state = {url:'/home/new_curio'};
            window.history.pushState(state,'', '/home/new_curio');
            $("#right_partial").html(response.partial);
        }).fail(function(){ alert('oops! 出現錯誤了!') });
    });

    $("#sub_new_curio").click(function(){
        var t = $(this);
        $.get('/home/new_curio.json').done(function(response){
            $("#ti2_sub a.now").removeClass('now');
            t.addClass('now')
            var state = {url:'/home/new_curio'};
            window.history.pushState(state,'', '/home/new_curio');
            $("#right_partial").html(response.partial);
        }).fail(function(){ alert('oops! 出現錯誤了!') });
    });

</script>
