<% self.formats = [:json, :html] %>




<table id="curios_table" style="border: #E0E0E0 1px solid;display: inline-block;margin-top: 2px">
  <tr style="font-size: 20px;min-width: 600px; background-color: #015d83; color: ActiveBorder">
    <td style="width: 500px;text-align: center">標題</td>
  </tr>

  <% @curios.each_with_index do |x, index| %>
      <% if index % 2 == 1%>
          <tr style="font-size: 20px;min-width: 600px; background-color: #eaf4f9; padding: 10px 15px 10px 15px;line-height: 32px">
            <td data-value="<%= x._id %>" style="width: 100%; padding-left: 10px"><a><%= x.title %></a> </td>
          </tr>
      <% else %>
          <tr style="font-size: 20px;min-width: 600px; padding: 10px 15px 10px 15px;line-height: 32px">
            <td data-value="<%= x._id %>" style="width: 100%; padding-left: 10px"><a><%= x.title %></a> </td>
          </tr>
      <% end %>
  <% end %>
</table>
