

<h4>選擇類別： <%= select("custom_new", "category_id", @categorys_option,{}, {:id => "category_select_new"}) %></h4>


<div style="margin-top: 30px" id="r_b_partial_new">
  <%# render :template => 'home/category_list', :layout => false %>
  <%= @view_string.html_safe %>
</div>


<input type="button" class="btn btn-danger" style="font-size: 18px; border: #ac381e;margin-bottom: 8px" id="save_data" value="確定">



<script>

    $("#save_data").click(function(){

        if ($("#category_select_new").val() == null){
            return false;
        }

        var json_array = [];
        var category_id_item = {};

        category_id_item["category_id"] = $("#category_select_new").val();
        json_array.push(category_id_item);

        $("#r_b_partial_new").find("[name='item']").each(function(){
            var element_type = $(this).data('value');

            if (element_type == 'title'){
                $(this).find("[name='item_value']").each(function(){
                    var title_item = {};
                    title_item["title"] = $(this).val();
                    json_array.push(title_item);
                });
            } else if (element_type == 'text'){
                var item_name;
                $(this).find("[name='item_name']").each(function(){
                    item_name = $(this).text();
                });

                $(this).find("[name='item_value']").each(function(){
                    var textbox_item = {};
                    textbox_item["textbox_" + item_name] = $(this).val();
                    json_array.push(textbox_item);
                });
            } else if (element_type == 'textarea'){
                var item_name;
                $(this).find("[name='item_name']").each(function(){
                    item_name = $(this).text();
                });

                $(this).find("[name='item_value']").each(function(){
                    var textarea_item = {};
                    textarea_item["textarea_" + item_name] = $(this).val();
                    json_array.push(textarea_item);
                });
            } else if (element_type == 'checkbox'){
                var item_name;
                $(this).find("[name='item_name']").each(function(){
                    item_name = $(this).text();
                });

                var checked_item = {};
                $(this).find("input:checked").each(function(index){
                    checked_item["checkbox_" + item_name + "_" + index] = $(this).val();
                });
                json_array.push(checked_item);
            } else if (element_type == 'radio'){
                var item_name;
                $(this).find("[name='item_name']").each(function(){
                    item_name = $(this).text();
                });

                var radio_item = {};
                $(this).find("input:checked").each(function(){
                    radio_item["radiobox_" + item_name] = $(this).val();
                });
                json_array.push(radio_item);
            } else if (element_type == 'select'){
                var item_name;
                $(this).find("[name='item_name']").each(function(){
                    item_name = $(this).text();
                });

                var select_item = {};
                $(this).find("option:selected").each(function(){
                    select_item["select_" + item_name] = $(this).val();
                });
                json_array.push(select_item);
            }
        });

        $.ajax({
            url: "/home/save_curio.json",
            type: 'POST',
            data:  {curio_data: json_array},
            cache: false,
            async: false,
            success: function(response){
                if (response.result){
                    alert(response.data)

                    var state = {url:'/home/new_curio'};
                    window.history.pushState(state,'', '/home/new_curio');

                    $("#right_partial").html(response.partial);
                    $('#category_select_sale').val(response.category_id);

                    $("#ti2_sub a.now").removeClass('now');
                    $("#sub_curio_list").addClass('now');

                    bind_event();
                }
                else if (response.error){
                    alert(response.message)
                }
                else {
                    alert('發生未預期的回應，請告知CoDream小組處理!')
                }
            },
            error: function(){
                alert('oops! 出現錯誤了!');
            }
        });
    });

    $("#category_select_new").change(function(){

        $.ajax({
            url: "/home/get_category_view.json",
            type: 'POST',
            data:  {object_id:$(this).val()},
            cache: false,
            success: function(response){
                $("#r_b_partial_new").html(response.partial);
            },
            error: function(){
                alert('oops! 出現錯誤了!');
            }
        });
    });
</script>



