<% self.formats = [:json, :html] %>

<div name="item" data-value="radio">

  <div class="query_item_title div_inline" name="item_name"><%= @name %>：</div>
  <div class="query_item_block div_inline">
    <% @data.each_with_index do |x, i| %>
        <label class="query_item">
          <input type="radio" name="radio_group_<%= @name %>" value="<%= i %>"><%= x %>
        </label>
    <% end %>
  </div>
</div>
