<% self.formats = [:json, :html] %>

<div name="item" data-value="select">
  <label name="item_name"><%= @name %></label>
  </br>
  <select>
    <% @data.each_with_index do |x,i| %>
        <option value="<%= i %>"><%= x %></option>
    <% end %>
  </select>
  </br></br>
</div>