<% self.formats = [:json, :html] %>

<div name="item" data-value="text">
  <label name="item_name"><%= @name %></label>
  </br>
  <input type="textbox" name="item_value" value="<%= @value %>" disabled="true">
  </br></br>
</div>