<% self.formats = [:json, :html] %>

<div name="item" data-value="textarea">
  <label name="item_name"><%= @name %></label>
  </br>
  <textarea name="item_value" disabled="true"><%= @value %></textarea>
  </br></br>
</div>